/* ===== ANIMAÇÃO ===== */

@keyframes popupFade{
  from{
    opacity:0;
    transform:translate(-50%, -50%) scale(0.9);
  }
  to{
    opacity:1;
    transform:translate(-50%, -50%) scale(1);
  }
}

/* MENU MOBILE */

.nav-desktop{
  display: flex;
}

.menu-toggle{
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  color: #f7931e;
}

.menu-mobile{

  position:fixed;
  top:76px;
  right:0;
  width:80%;
  max-width:320px;

  background:#ededed;
  box-shadow:-4px 4px 10px rgba(0,0,0,0.2);
  text-align:center;
  z-index:1000;

  transform:translateX(100%);
  opacity:0;

  transition:transform 0.35s ease, opacity 0.25s ease;
}

.menu-mobile button {
  display: block;
  width: 100%;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #f7931e;

  background: none;
  border: none;
  outline: none;

  text-align: center;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}



.menu-mobile.open{
  transform:translateX(0);
  opacity:1;
}

.menu-mobile a{
  display:block;
  padding:30px;
  font-size:20px;
  font-weight:bold;
  color:#f7931e;
  text-decoration:none;
  border-bottom:1px solid #ddd;
}

.cadastro-table{
  min-width: 700px;
}

@media (max-width:768px){

  .nav-desktop{
    display:none !important;
  }

  .menu-toggle{
    display:block !important;
  }

  .hero-logo{
    display:block;
    margin:0 auto;
    width:90%;
    max-width:300px;
    padding-left:5%;
  }

  .hero-text{
    margin-top:20px;
  }

  .hero-button{
    display:block;
    margin:30px auto 0 auto;
  }

  .menu-sair {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
}

  .sobre-texto{
    padding:40px 25px;
  }

  .sobre-imagem{
    min-height:350px;
  }

  .sobre-botao{
    padding:14px 30px;
    font-size:14px;
  }

  .login-title{
    font-size:22px;
    text-align:center;
  }

  .login-label{
    font-size:18px;
  }

  .login-btn{
    width:100%;
  }

  .login-card{
    padding:20px;
  }

  .servico{
    flex-direction:column;
    text-align:center;
  }

  .img-container{
    width:100%;
    height:220px;
  }
}
/* ===== CATÁLOGO ===== */

@media (max-width: 768px) {
  .catalogo-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalogo-imagem {
    width: 100%;
  }

  .catalogo-imagem img {
    width: 100%;
    height: 220px;
  }

 .catalogo-info h3 {
  text-align: center;
}

  .catalogo-info p {
    font-size: 16px;
  }
}

/* ===== PÁGINA 404 ===== */
/* Tablet */
@media (max-width: 768px) {
  .btn-overlay {
    width: 120px;
    height: 30px;
    font-size: 9px;
    line-height: 18px;
  }
}

/* Celular */
@media (max-width: 480px) {
  .btn-overlay {
    width: 100px;
    height: 26px;
    font-size: 7px;
    line-height: 14px;
  }
}